<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApp">
        <activity
            android:name=".Call"
            android:exported="true" />
        <activity
            android:name=".SMS"
            android:exported="true" />
        <activity
            android:name=".ToDoActivity"
            android:exported="true" />
        <activity
            android:name=".Covid19Activity"
            android:exported="true" />
        <activity
            android:name=".KinhDoanh"
            android:exported="true" />
        <activity
            android:name=".KhoaHoc"
            android:exported="true" />
        <activity
            android:name=".GiaiTri"
            android:exported="true" />
        <activity
            android:name=".TheThao"
            android:exported="true" />
        <activity
            android:name=".NoiBat"
            android:exported="true" />
        <activity
            android:name=".MoiNhat"
            android:exported="true" />
        <activity
            android:name=".ThoiSu"
            android:exported="true" />
        <activity
            android:name=".TinTucTongHop"
            android:exported="true" />
        <activity
            android:name=".DetailTinTuc"
            android:exported="true" />
        <activity
            android:name=".TinTuc"
            android:exported="true" />
        <activity
            android:name=".WeatherNextDay"
            android:exported="true" />
        <activity
            android:name=".WeatherApp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>